 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a{
    font-weight: bold;
    
}

a, .gray{
         color: #a5a5a1;
            
    }
    .gray:hover{
        color: rgb(54, 81, 236);
    } 
p{
    font-weight: 500;
    
}
 
.row> p{
    padding: 20px;
    border-bottom: 1px solid rgb(212, 212, 212);
    
}

.p-3{
    color: white;
    background: #4b228d;
}
    